* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #cccccc;
}

.container {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .container-heading {
    width: 100%;
    height: 100px;
    background: #444;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container section {
    background: #888;
    margin: 0 auto;
    width: 90%;
    height: 300px;
    border-radius: 10px;
}

.container section .section-heading {
    width: 100%;
    height: 70px;
    background: #666;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-bottom: none;
}

.container section .section-body {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.container section .section-body ul {
    display: flex;
    list-style-type: none;
    text-align: center;

}

.container section .section-body ul li {
    padding: 20px;
    background: #666;
    margin: 5px;
    border-radius: 5px;

}

.container section .section-body ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}